<div class="header-common">
  <h1>Login</h1>
</div>
<div class="ui center padding-top-70 max-width-600 relative z-10">
  <div class="column">
    <form {{action "authenticate" on="submit"}} class="ui large form">
      <div class="ui stacked segment bg-transparent no-border responsive-form">
        <div class="field left clearfix">
          <div class="pull-left">
            <p class="label">Email:</p>
          </div>
          <div class="pull-right relative">
            {{input type="email" value=identification id='email' placeholder="Required" autocomplete="on"}}
          </div>
        </div>
        <div class="field left clearfix">
          <div class="pull-left">
            <p class="label">Password:</p>
          </div>
          <div class="pull-right relative">
            {{input type="password" value=password id='password' placeholder="Required"}}
          </div>
        </div>
        {{spin-button id="btn-login"
                      class="ui large submit button"
                      buttonText="Login" 
                      type="submit" 
                      isLoading=isLoading}}
      </div>
    </form>
    <a target="_blank" {{action 'goToUrl' forgotPasswordURL '_blank'}} class="text-white">Forgot Password?</a>
    <p class="text-white margin-top-20 margin-bottom-50 block">Don't have an account? {{#link-to 'signup' class="text-brand bold margin-left-5" }} SIGN UP{{/link-to}}</p>
  </div>
</div>