<form class="ui vertical stripe segment form" {{action "save" on="submit"}}>
  
  <div class="field">
    <label>Day <span class="error inline">{{model.bookingSlot.errors.day}}</span></label>
    {{select-2  class="display-block full-width"
                    content=model.days
                    optionLabelPath="name"
                    optionValuePath="name"
                    value=model.bookingSlot.day
                    placeholder="Select"
                    allowClear=true }}
  </div>

  <div class="field">
    <label>Start Time <span class="error inline">{{model.bookingSlot.errors.start_time}}</span></label>
    {{input value=model.bookingSlot.start_time id='start_time' type="number" placeholder="00" step="1" min="1" max="24" autocomplete="off"}}
  </div>

  <div class="field">
    <label>No of bookings <span class="error inline">{{model.bookingSlot.errors.no_of_booking}}</span></label>
    {{input value=model.bookingSlot.no_of_booking id='no_of_booking' type="number" step="1" min="1"}}
  </div>

  <div class="field">
    <div class="ui checkbox">
      {{input type="checkbox" checked=model.bookingSlot.is_active}}
      <label>Active</label>
    </div>
  </div>

  <button class="ui button" type="submit">Submit</button>
  <button class="ui button" {{action "cancel"}}>Cancel</button>
</form> 
