<div class="ui vertical stripe segment padding-70">

	<div class="ui middle aligned stackable container padding-50">

		<div class="max-width-1170 clearfix section-header-wrap margin-top-0 inline-block">
		  <h5 class="uppercase regular pull-left margin-0 custom-header">Booking Slots</h5>
		</div>

		<div class="list_table">
  			<div class="content">
    			<div class="row bg-brand clearfix">
      				<div class="row title-row max-width-1170 clearfix">
				        <div class="col col-50 col-center color-white title_head">Day</div>
				        <div class="col col-50 col-center color-white title_head">Slots</div>
      				</div>
    			</div>
    			<div class="row clearfix">
      				<div class="row title-row max-width-1170 clearfix">
      					<div class="content-row clearfix">
					        <div class="col col-50 col-center title_head">Monday</div>
					        <div class="col col-50 col-center title_head">
					        	{{#each slotsForMonday as |slot|}}
					        		{{partial "admin/booking-slots/slot-data"}}
					        	{{else}}
					        		<div>-</div>
					        	{{/each}}
					        </div>
					    </div>

					    <div class="content-row clearfix">
					        <div class="col col-50 col-center title_head">Tuesday</div>
					        <div class="col col-50 col-center title_head">
					        	{{#each slotsForTuesday as |slot|}}
					        		{{partial "admin/booking-slots/slot-data"}}
					        	{{else}}
					        		<div>-</div>
					        	{{/each}}
					        </div>
					    </div>

					    <div class="content-row clearfix">
					        <div class="col col-50 col-center title_head">Wednesday</div>
					        <div class="col col-50 col-center title_head">
					        	{{#each slotsForWednesday as |slot|}}
					        		{{partial "admin/booking-slots/slot-data"}}
					        	{{else}}
					        		<div>-</div>
					        	{{/each}}
					        </div>
					    </div>

					    <div class="content-row clearfix">
					        <div class="col col-50 col-center title_head">Thursday</div>
					        <div class="col col-50 col-center title_head">
					        	{{#each slotsForThursday as |slot|}}
					        		{{partial "admin/booking-slots/slot-data"}}
					        	{{else}}
					        		<div>-</div>
					        	{{/each}}
					        </div>
					    </div>

					    <div class="content-row clearfix">
					        <div class="col col-50 col-center title_head">Friday</div>
					        <div class="col col-50 col-center title_head">
					        	{{#each slotsForFriday as |slot|}}
					        		{{partial "admin/booking-slots/slot-data"}}
					        	{{else}}
					        		<div>-</div>
					        	{{/each}}
					        </div>
					    </div>

					    <div class="content-row clearfix">
					        <div class="col col-50 col-center title_head">Saturday</div>
					        <div class="col col-50 col-center title_head">
					        	{{#each slotsForSaturday as |slot|}}
					        		{{partial "admin/booking-slots/slot-data"}}
					        	{{else}}
					        		<div>-</div>
					        	{{/each}}
					        </div>
					    </div>

					    <div class="content-row clearfix">
					        <div class="col col-50 col-center title_head">Sunday</div>
					        <div class="col col-50 col-center title_head">
					        	{{#each slotsForSunday as |slot|}}
					        		{{partial "admin/booking-slots/slot-data"}}
					        	{{else}}
					        		<div>-</div>
					        	{{/each}}
					        </div>
					    </div>

      				</div>
    			</div>
    		</div>
    	</div>

		{{#link-to "admin.booking-slots.new" classNames="add_button"}}<i class="plus icon"></i>{{/link-to}}

    	{{infinity-loader infinityModel=model loadingText="" loadedText="Woohoo! You've loaded everything."}}

	</div>

</div>
